body{
    background-image: url(assets/churrasbackground1500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: grid;
    grid-gap:1em;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width:400px;
    margin: auto;
    background-color: rgba(211, 87, 87, 0.747);
    padding: 1em;
    box-shadow: 0px 0px 2px 2px rgba(97, 42, 42, 0.555);
    border-radius: 10px;
}
 .container > h1{
    font-size: 30px;
    border-radius: 5px;
    text-align:center;
    color: rgb(237, 238, 225);
    text-shadow: 1px 1px 0 red;
} 
input{
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 2em;
}
button{
    margin:auto;
    background-color: brown;
    font-weight:bold;
    color:white;
    border-radius: 15px;
    padding: 1em;
}

button:focus{
    background-color: rgba(233, 20, 20, 0.884);
}