
body{
    font-size: 18px;
    background-image: url(assets/churrasbackground1500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: 130px 50px 150px ;
    background-color: rgba(211, 87, 87, 0.747);
    padding: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.808);
    border-radius: 10px;
}
 .container > h1{
    border-radius: 5px;
    text-align: center;
    color: rgb(237, 238, 225);
    padding: 2px;
    box-shadow: 0px 0px 2px 2px rgb(212, 59, 59) ;
} 
input{
    border-radius: 5px;
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}